#contactFooter {
  max-width: 100%;
  grid-row-start: 5;
  grid-column-start: 1;
  grid-column-end: span 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 1em;
}

.footerList {
  grid-column-start: 1;
  grid-column-end: 1;
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  /* 
  border-top: solid 2px;
  border-right: solid 2px;
  border-bottom: solid 2px; */
  border-radius: 0 10px 10px 0;
  background-color: #979ed1;

  padding-top: 3%;
  padding-bottom: 3%;
}
.contactImage {
  max-width: 40px;
}
.footerListItem {
  font-size: 2em;
  font-weight: 600;
}

.footerListItem a {
  text-decoration: none;
  color: white;
}

.footerListItem a:hover {
  color: #171f26;
}

.topOfPage {
  grid-column-start: 2;
  justify-self: end;
  align-self: center;
  margin-right: 15%;
}
.topOfPage svg {
  color: #171f26;
}
.topOfPage svg:hover {
  color: #ffa811;
}

@media only screen and (max-width: 600px) {
  .contact-container {
    text-align: center;
  }
  .contact-page {
    height: 100vh;
  }

  #contact {
    font-size: 50px;
    text-align: center;
    color: #171f26;
  }

  .cgrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .icons {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: auto;
    border-bottom: solid 1px #e0e0e0;
  }
  .contact-icon {
    height: 100px;
    padding: 10px;
    margin-left: 100px;
  }
  .contactBtn {
    width: 300px;
    /* height:40px; */
    text-decoration: none;
    margin: 30px auto;
    padding: 20px;
    display: inline-block;
    box-sizing: border-box;
    color: #474747;
    /* background:red; */
    text-align: center;
    border: solid 1px #474747;
  }
}
