.wave {
  width: 200vw;
}
.wave1 {
  animation: wave linear 16s;
}
.wave2 {
  animation: wave linear 14s;
}
.wave3 {
  animation: wave linear 12s;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
