.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  max-height: 100%;
  width: 100%;
}

.introduction {
  align-self: center;
  color: white;
  font-size: 4rem;
  grid-column: 2;
  grid-row: 1;
  justify-self: self-start;
  z-index: 2;
}

svg {
  grid-column: 1;
  grid-column-end: span 3;
  grid-row: 1;
  justify-self: self-start;
  align-self: center;
  z-index: 1;
}
.form-container {
  display: flex;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #2e5258;
}
.bio {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row: 3;
  font-size: 1.5em;
  color: white;
  margin: 0;
  max-width: 90vw;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 5%;
  background-color: #2e5258;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: -1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media only screen and (max-width: 600px) {
  .about-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    max-height: 100%;
    width: 100vw;
    font-size: 1rem;
  }

  .introduction {
    align-self: center;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    z-index: 2;
    font-size: 3rem;
    margin-bottom: 0;
  }

  .bio {
    grid-column-start: 1;
    grid-row: 3;
    font-size: 1.2em;
    justify-self: center;
    color: white;
    padding-top: 15%;
    padding-bottom: 25%;
    margin: 0;
    background-color: #406269;
    background: linear-gradient(#2e5258 60%, #9da7c1);
    width: 100%;
  }

  svg {
    height: auto;
  }
}
