.about-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  max-height: 100%;
  width: 100%;
}

.introduction {
  align-self: center;
  color: white;
  font-size: 4rem;
  grid-column: 2;
  grid-row: 1;
  justify-self: self-start;
}

.text-accent-color,
.name {
  color: #05fcdf;
}

@media only screen and (max-width: 600px) {
  .about-content {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: auto auto;
    max-height: 100%;
    width: 100vw;
    font-size: 1rem;
  }

  .introduction {
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
    justify-self: start;
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .small-text-container {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2;
  }
  .arrow-icon {
    transform: rotate(45deg);
  }
}
