.constructionPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #1d1d1d;
  margin-top: 2%;
}
.textContainer {
  display: grid;
}
.constructionText,
.developerName,
.textExplanation {
  font-family: "Roboto Mono";
  justify-self: center;
}
.emailLink {
  color: #78957f;
  justify-self: center;
  text-decoration: none;
}
.emailLink:hover {
  border: 2px, solid, #78957f;
}

#constructionTitle {
  margin-top: 20%;
  margin-bottom: 30%;
}

#nameHeader {
  margin: 0em;
}
