#about{
    color:#fffcf2;
    text-align:center;
    font-size: 50px;
}

.about-content{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-gap:50px;
    height: calc(100vh - 10px);
}

#cs-image{
    border:#fffcf2 2px solid;
    border-radius:15px;
    align-content: center;
    max-width: 100%;
    height:auto;
    margin-left:10px;
}

#bio{
    margin-top: 0px;
    font-size: 5vh;
    background: #fffcf2;
    padding:10px;
    text-align: center;
    border-radius: 15px;
}