#about{
    color:black;
    text-align:center;
    font-size: 50px;
}

.about-content{
    margin:auto;
    margin-bottom: 20px;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-gap:50px;
    height: calc(100vh - 10px);
    width:960px;
    justify-items: center;
}

.about-img{
    object-fit: cover;
    overflow:hidden;
    width:100%;
    max-height:100%;
}

.bio{
    margin-top: 0px;
    font-size: 20px;
    background: #fffcf2;
    padding:0px;
    text-align:center;
}
.bio-text{
    margin-top:auto;
    margin-bottom:auto;
}

.break{
    margin:30px 350px 0px;
}

.forLink{
    text-align: center;
    margin:40px auto;

}
.route{
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
}
Link.route:hover{
    color:rgb(122, 122, 122);
}