#contact{
    font-size:100px;
    text-align:center;
}

.contact-container{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 10px;
}

.icons{
    text-align: center;
    box-shadow: 5px 10px 18px #888888;
    border: 2px solid #313a3e;
    border-radius:15px;

}


#linkedin_icon {
    height: 100px;
    padding: 10px;
}

#github_icon{
    height: 100px;
    padding: 10px;
} 

#pdf_icon{
    height: 100px;
    padding: 10px;
}