#landing-section{
    font-size:100px;
    height:100vh;
}

.text-container{
    margin: 15% auto;
    
    width: 520px;
    font-size: 50px;
    height: 80px;
  }
  
  .dynamic-text, .static-text{
    display: inline-block;
    text-align: center;

  }
  
  .static-text{

    margin-right: 10px;
    color: #1c1c21;
  }
  
  .dynamic-text{
    list-style: none;
    position: absolute;
    overflow: hidden;
    height: 60px;
    padding-left: 10px;
  }
  
  .item{
    position: relative;
    top: 0;
    animation: move 5s;
    animation-delay: 2s;
    background: #fffcf2
  }
    .item:first-child{
      color: #313a3e;
    }
    .item:nth-child(2){
      color: #eb5e28;
    }
    

    @keyframes move{
        0%{top: 0px;}
        25%{top: -60px;}
        50%{top: -60px;}
        100%{top: 0px;}
      }
  