#landing-section{
    font-size:100px;
    height:100vh;
}

.text-container{
    margin: 15% auto;
    
    width: 520px;
    font-size: 50px;
    height: 80px;
  }
  
  .dynamic-text, .static-text{
    display: inline-block;
    text-align: center;

  }
  
  .static-text{
    padding-right: 10px;
    padding-left:10px;
    margin-right: 0px;
    color: #1c1c21;
    background: #fffcf2;
    border-radius: 15px 0px 0px 15px;
  }
  
  .dynamic-text{
    list-style: none;
    position: absolute;
    overflow: hidden;
    height: 58px;
    padding-left: 0px;
    padding-right:10px;
    border-radius: 0px 15px 15px 0px;
  }
  
  .item{
    position: relative;
    top: 0;
    animation: move 5s;
    animation-delay: 2s;
    background: #fffcf2;
    padding-right:10px;
    border-radius: 0px 15px 15px 0px;
  }
    .item:first-child{
      color: #313a3e;
    }
    .item:nth-child(2){
      color: #eb5e28;
    }
    

    @keyframes move{
        0%{top: 0px;}
        25%{top: -58px;}
        50%{top: -58px;}
        100%{top: 0px;}
      }
  