#landing-section{
    font-size:100px;
    height:100vh;
}

.text-container{
    margin: auto;
    width: 520px;
    font-size: 40px;
    height: 50px;
  }
  
  .dynamic-text, .static-text{
      margin:0, auto;
    display: inline-block;
    text-align: center;

  }
  
  .static-text{

    margin-right: 10px;
    color: #41D3BD;
  }
  
  .dynamic-text{
    list-style: none;
    position: absolute;
    overflow: hidden;
    height: 50px;
  }
  
  .item{
    position: relative;
    top: 0;
    animation: move 5s;
    animation-delay: 2s;
    background: #fffcf2
  }
    .item:first-child{
      color: #01BAEF;
    }
    .item:nth-child(2){
      color: #F79256;
    }
    

    @keyframes move{
        0%{top: 0px;}
        25%{top: -50px;}
        50%{top: -50px;}
        100%{top: 0px;}
        /* 40%{top: -96px;}
        60%{top: -146px;}
        80%{top: -196px;} */
      }
  