.portfolio-map{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
}

#portfolio{
    text-align: center;
    font-size: 75px;
    /* background: #fffcf2;
    border-radius: 15px; */
}
#portfolio-content{
    color: black;
    margin:auto;
}