.portfolio-map{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
    grid-gap: 10px;
}

#portfolio{
    text-align: center;
    font-size: 75px;
    /* background: #fffcf2;
    border-radius: 15px; */
}
#portfolio-content{
    color: #fffcf2;
    border-radius: 15px;
    margin:auto;
}