.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-height: 100%;
}

.introduction {
  align-self: center;
  color: white;
  font-size: 4rem;
  grid-column: 2;
  grid-row: 1;
  justify-self: self-start;
  z-index: 1;
}
svg {
  grid-column: 1;
  grid-column-end: span 3;
  grid-row: 1;
  justify-self: self-start;
  align-self: center;
  z-index: -1;
  background-color: #9da7c1;
}

.bio {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row: 2;
  margin-left: 25%;
}
