.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  max-height: 100%;
}

.introduction {
  align-self: center;
  color: white;
  font-size: 4rem;
  grid-column: 2;
  grid-row: 1;
  justify-self: self-start;
  z-index: 2;
}
svg {
  grid-column: 1;
  grid-column-end: span 3;
  grid-row: 1;
  justify-self: self-start;
  align-self: center;
  z-index: 1;
}

.bio {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row: 2;
  font-size: 1.5em;
  width: inherit;
  color: white;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 5%;
  background-color: #406269;
  background: linear-gradient(#2e5258 60%, #9da7c1);
}

.learnMoreBtn {
  grid-column: 3;
  grid-row: 3;
  border: none;
  background-color: #406269;
  color: white;
  font-size: 1.3rem;
  padding: 1.5rem;
  width: 20rem;
  border-radius: 5px;
}
.learnMoreBtn:hover {
  color: black;
  background-color: #718596;
}

.longBio {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row: 2;
  font-size: 1.5em;
  width: inherit;
  color: white;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 5%;
  background-color: #406269;
  background: linear-gradient(#2e5258 60%, #9da7c1);
  transition: ease 2s ease-out 0.5s;
}
