.card-size-container{
    border-radius: 15px;
    border: 2px solid red;
    width: 100%;
    max-height:100%;
    position: relative;
    box-shadow: 5px 10px 18px #888888;

}
.image_title{
    position:absolute;
    top: 200px;
    left: 0;
    background:white;
    opacity:0.8;
    text-align: center;
    color:black;
    text-decoration: none;
    display:inline-block;
    width:100%;
    font-size:40px;
    padding:20px 0 ;
    font-weight:bold;

}

.image_title:hover{
    color:red;
}

.image{
    border-radius:15px 15px 0px 0px;
    width:100%;
}

