#navbar {
  position: relative;
  z-index: 5;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  height: 50px;
  margin-top: 0px;
}

.nav-link {
  padding-top: 15px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-link:hover {
  color: rgb(122, 122, 122);
}

@media only screen and (max-width: 600px) {
  #navbar {
    position: relative;
    z-index: 5;
  }

  #navbar > .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: 50px;
    margin-top: 0px;
    padding: 0px;
  }

  .grid-container > .nav-link {
    padding-top: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}
