#navbar {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: none;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  height: 50px;
  margin-top: 0px;
  padding: 0px;
}

.hamburgerMenu {
  grid-column-start: 3;
  align-self: center;
  margin-right: 10%;
  margin-left: 70%;
}

.initials {
  grid-column-start: 1;
  margin-right: 60%;
  align-self: start;
  font-size: 1.5em;
  font-weight: 900;
}
.nav-link {
  padding-top: 15px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.nav-link:hover {
  color: white;
}

@media only screen and (max-width: 600px) {
  #navbar {
    position: relative;
    z-index: 5;
  }

  #navbar > .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: 50px;
    margin-top: 0px;
    padding: 0px;
  }

  .grid-container > .nav-link {
    padding-top: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}
