.bio-length-form {
  background-color: #2e5258;
  border: none;
  color: white;
  font-size: 1.3rem;
  flex-grow: 0.5;
}

.bio-fieldset {
  border: none;
  display: flex;
}
.control {
  align-items: center;
  display: inline-flex;
  flex-grow: 1;
  justify-content: center;
}

.control:not(:last-child) {
  margin-right: 0.75rem;
}

.control-indicator {
  background-color: white;
  border-radius: 10px;
  height: 1rem;
  margin-right: 0.75rem;
  width: 1rem;
  transition: all 0.3s ease 0s;
}

.control-input:checked ~ .control-indicator {
  background-color: #c38bcc;
  outline: 4px solid #925d9b;
  outline-offset: 0.25rem;
}
