.portfolio-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: calc(100vh / 2);
  max-width: 100%;
  padding: 0;
  margin-bottom: 5%;
  overflow: inherit;
}
.project-link {
  padding: 3em;
  grid-area: 1/1/2/4;
  margin-left: 10%;
  align-self: center;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  text-decoration: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}

.project-link:after {
  content: "";
  background: inherit;
  margin-bottom: 0;
}
.image {
  width: 25rem;
  max-height: 20rem;
}
.backgroundDiv {
  grid-area: 1/1/2/4;
  width: 40%;
  height: inherit;
  margin-top: 2%;
  background-color: #396164;
}
.description {
  grid-column-start: 2;
  grid-column-end: span 1;
  color: black;
}

.technologies {
  grid-column-start: 2;
  grid-column-end: span 1;
  padding: 0;
}

.technologyListItem {
  display: inline;
}

.techlogo {
  margin: 1rem;
  height: 1.5rem;
}
