#row {
  grid-column-start: col1;
  grid-column-end: span 3;
  grid-row-start: 4;
  grid-row-end: 4;

  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
}

#portfolio {
  grid-column-start: 2;
  font-size: 6em;
  font-weight: 700;
  text-align: left;
  margin-top: 0;
  color: white;
}
.portfolio-map {
  grid-column-start: 1;
  align-self: left;
}
